<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('img/apba_logo_clear.png') }}">
</head>
<body>
<div class="form_container">
    <img src="{{ asset('img/apba_logo.png') }}" alt="Logo">
    <form method="post">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Contraseña</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Recordar email
            </label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">
            Iniciar sesión
        </button>
    </form>
</div>
</body>
</html>
