{% extends 'shop/index.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/profile.css') }}">

{% endblock %}
{% block title %}Perfil{% endblock %}
{% block content %}
    <h1>Detalles del Bag</h1>

    <ul>
        {% for product in productList %}
            <li>
                Product ID: {{ product.product_id }}<br>
                Product Name: {{ product.product_name }}<br>
                Quantity: {{ product.quantity }} <br>
                IMG: <img src="{{ asset('img/products/' ~ product.product_img) }}" style="width: 100px">
            </li>
        {% endfor %}
    </ul>
{% endblock %}

