{% extends 'shop/index.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}
{% block content %}
    <div class="background-portal">
        <div class="announce-window">
            <div class="announce-text"><strong>Discover our new collection</strong></div>
            <a href="/shop/search"><input type="button" class="buy-now-button" value="BUY NOW"></a>
        </div>
    </div>
    <div class="browser-photo-tags">
        <div class="title-browser">Select out products</div>
        <div class="image-browser">
            <a href="" class="image-link-browser">
                <div class="overlay-browser">
                    <div class="text-over-browser">Clothes</div>
                </div>
                <img src="{{ asset('img/clothes_browser.png') }}" alt="Descripción de la imagen" class="img-center">
            </a>

            <a href="" class="image-link-browser">
                <div class="overlay-browser">
                    <div class="text-over-browser">Merchandising</div>
                </div>
                <img src="{{ asset('img/merchandising.png') }}" alt="Descripción de la imagen" class="img-center">
            </a>

            <a href="" class="image-link-browser">
                <div class="overlay-browser">
                    <div class="text-over-browser">Tools</div>
                </div>
                <img src="{{ asset('img/tools.png') }}" alt="Descripción de la imagen" class="img-center">
            </a>
        </div>
    </div>

    <div class="popular-prod">
        <div class="title-popul-prod">Our most popular products</div>
        <div class="products-list">
            {% for product in products %}
                <div class="product-display">
                    <div class="product-content">
                        <img src="{{ asset('img/products/' ~ product.img) }}" style="width: 150px">
                        <div class="prod-info">
                            <div class="product-name">{{ product.name }}</div>
                            <div class="product-prize">{{ product.prize }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

