{% extends 'shop/index.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/product_detail.css') }}">

{% endblock %}
{% block title %}Perfil{% endblock %}
{% block content %}
    <div class="product-detail">
        <div class="product-image">
            <img src="{{ asset('img/products/' ~ product.img) }}" alt="{{ product.name }}">
        </div>
        <div class="product-info">
            <p id="product_name">
                {{ product.name }}
                {%if materials[0].quantity < 10%}
                <span style="color: red; font-size: 1.5vw">!Last units!</span>
                {% endif %}
            </p>
            <p id="product_prize">{{ product.prize }}€</p>
            <p id="product_description">{{ product.description}}</p>
            <ul>
                {% for material in materials %}
                    <li>
                        <strong>Tamaño:</strong> {{ material.size }}
                        <strong>Color:</strong> {{ material.color }}
                        <strong>Género:</strong> {{ material.gender }}
                        <strong>Cantidad:</strong> {{ material.quantity }}
                    </li>
                {% endfor %}
            </ul>
            <div class="add_cart">
                <a href="{{ path('app_shop_add_cart', {'id': product.id, 'quant': 1}) }}"><input type="button" value="Add to cart"></a>
            </div>
        </div>
    </div>
{% endblock %}
